version: '3.8'

services:
  mongo:
    image: mongo:6.0.6
    container_name: skillnet-db
    command: ["mongod", "--nojournal"]
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
    restart: unless-stopped

volumes:
  mongo-data:
